.ordered-list li:nth-child(odd) {
  color: rgb(65, 105, 225);
}

.ordered-list li:nth-child(even) {
  font-size: 20px;
}

.my-table tr td {
  color: rgb(134, 134, 64);
}

.my-table tr {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blue {
  color: blue;
}

.red {
  color: red;
}
